save-exact=true
# 厳密なpeer依存関係は必ずしも可能ではありませんが、うまくいけばtrueのままにしてください。
# https://pnpm.io/next/npmrc#strict-peer-dependencies
# strict-peer-dependencies=true

# 自動でpeerをインストールすると、不要な依存関係をダウンロードしてしまう可能性があります。
# インストールに失敗した場合は、最初にpackage.jsonに明示的に追加してみてください。
# 最後の手段としてtrueに設定してください（問題がアップストリームの依存関係から来る場合）。
# 最善はfalseです。
# https://pnpm.io/npmrc#auto-install-peers
# auto-install-peers=false

